.container { display: incline-block;}


.text {
    word-wrap: break-word;
    font-size: 3em;
    letter-spacing: 10px;
    font-family: monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(15),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor{
    0% {border-color: transparent;}

}

@keyframes typing{
    from{width: 0;}

}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}







.hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
    color: red;
  }

  .hide2 {
    display: none;
  }
  
  .myDIV2:hover + .hide2 {
    display: block;
    color: red;
  }


.center {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 37%;

  }


  .center2 {
    display: block;
    position: relative;
    bottom: 300px;
    left: 700px;
    width: 21%;

  }